.header {
  position: absolute;
  width: 672px;
  height: 79px;
  left: 164px;
  top: 100px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 79px;
  display: flex;
  align-items: flex-end;
  color: #373a3c;
}
.my-input {
  margin-top: 20px;
}
.loader {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 221px;
  top: 68px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid black;
  border-right: 6px solid black;
  border-bottom: 6px solid black;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
.search-results {
  position: absolute;
  width: 182px;
  height: 72px;
  left: 16px;
  top: 47px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 72px;
  color: #373a3c;
}
.data-list {
  position: absolute;
  width: 988px;
  height: 24px;
  left: 16px;
  top: 119px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #5d4fe0;
  padding-left: 0px;
  list-style-type: none;
}
li {
  padding: 10px;
  border-bottom: solid 1px black;
}
